 /* ****PRELOAD**** */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
/* ****PRELOAD**** */

$move-up-body: -10em;


 $lato: 'Lato', sans-serif;

 @mixin link-styles ($link-visited, $hover-active, $hover-shade, $transition-time) {  
  a {
      &:link, &:visited  {
        color:$link-visited;
        transition:color $transition-time ease-in;
      } 
      &:hover, &:active {
        color:darken($hover-active, $hover-shade);
      } 
    }
  }


@mixin animate ($title, $time, $timing_function) {
    -webkit-animation: $title $time $timing_function; 
  -moz-animation:    $title $time $timing_function; 
  -o-animation:      $title $time $timing_function; 
  animation:         $title $time $timing_function;
   }

@mixin body-fade ($title) {

  @-webkit-keyframes $title {
  0%   { opacity: 0;}
  100% { opacity: 1;}
  }
  @-moz-keyframes $title {
  0%   { opacity: 0;}
  100% { opacity: 1;}
  }
  @-o-keyframes $title {
  0%   { opacity: 0;}
  100% { opacity: 1;}
  }
  @keyframes $title {
  0%   { opacity: 0;}
  100% { opacity: 1;}
  }
}

@mixin move-up-body ($title) {

  @-webkit-keyframes $title {
  0%   { opacity: 0;
       bottom:$move-up-body; }
  100% { opacity: 1;
     bottom: 0em; }
  }
  @-moz-keyframes $title {
  0%   { opacity: 0;
       bottom:$move-up-body; }
  100% { opacity: 1;
     bottom: 0em; }
  }
  @-o-keyframes $title {
  0%   { opacity: 0;
       bottom:$move-up-body; }
  100% { opacity: 1;
     bottom: 0em; }
  }
  @keyframes $title {
  0%   { opacity: 0;
       bottom:$move-up-body; }
  100% { opacity: 1;
     bottom: 0em; }
  }
}

    /* Parallax base styles
  --------------------------------------------- */


body, html {
    overflow: hidden;
  }
@include move-up-body (body-fade);
  body {
    font: 100% / 1.5 $lato;
    @include animate (body-fade, .6s, ease-in-out);
  }

  * {
    margin:0;
    padding:0;
    text-decoration: none;
  }

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__group1 {
    position: relative;
    height: 600px; /* fallback for older browsers */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__group-header {
    position: relative;
    height: 100px; /* fallback for older browsers */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

   .parallax__layer--back1 {
    height: 600px;
    margin-top: -200px;
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    @media only screen and (max-width: 322px){
      -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height:100vh;
    margin-top:0;
    }
  }

  .parallax {
    font-size: 200%;
  }

  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

 /* Parallax base styles
  --------------------------------------------- */


  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background: white;
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    background: white;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background:white;
  }
  /* style the groups
  --------------------------------------------- */

body {

}







.header {
  position: relative;
  height: 100px;
  background:#F5FAFF;
}

.header-inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.site-heading {
    @include link-styles (#C2C2C2, #C2C2C2, 10%, 0.2s );
    position:relative;
    float:right;
    font-family: $lato;
    font-size: 1.3em;
    padding: .5em .9em 0 0;
    @media only screen and (max-width: 322px){
        font-size: .9em;
        padding:1em;
    }
}

  .img {
    width: 100%;
    height: 600px;
    @media only screen and (max-width: 322px){
      height:85vh;
    }
  }

  .title {
    color:white;
    font-size: 1.5em;

  }

  .text {
    margin: 0 auto;
    max-width: 1200px;
    padding: 3em;
   color:#A8A8A8;
   line-height:1.7 ;
   font-size: .92em;
   font-family: $lato;
   @media only screen and (max-width: 1000px){
    font-size: .8em; 
   }
    @media only screen and (max-width: 768px){
        font-size: .7em; 
        padding:2em; 
    }
  }

  .heading {
    position: relative;
    top: 25%;
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: $lato;
    @media only screen and (max-width: 1100px){
      font-size: 3.2em;
    }
    @media only screen and (max-width: 768px){
      font-size: 2em;
    }
    @media only screen and (max-width: 322px){
      font-size: 1.6em;
    }
  }

.menu_link {
  padding:.4em;
  font-family:$lato;
  font-size: .8em;
  color: #C4C4C4;
  border:2px solid #C4C4C4;
  cursor: pointer;
  transition: 0.2s ease-in;
} 

.menu_link:hover {
  color: darken(#C4C4C4, 30%);
  border:2px solid darken(#C4C4C4, 30%);
}

.menu {
  position: absolute;
 margin: .8em 1em 0;
}

.sb-slidebar {
  @include link-styles (gray, gray, 10%, 0.2s );
  height: 100vh;
  overflow-y: auto; 
  position: fixed;
  top:0;
  z-index: 0; 
  display: none;
  font-family: $lato;
  font-size: 1.3em; 
  background-color:#E8F1FF;
  -webkit-transform: translate(0px); 
  ul {
    padding:1em 3em 0 3em;
    li {
      padding: .5em 0 .5em 0;
      text-align: center;
      border-bottom: 1px solid #D1D1D1;
      
    }
  }
  @media only screen and (max-width: 322px){
    font-family: $lato;
  font-size: 1.1em; 
  }
}

.post-heading {
font-size: 1.6em;
color: gray; 
}

.next-post {
  padding:0 0 2em 0;
  font-family: $lato;
  font-size: .9em;
  text-align: center;
  color:#A8A8A8; 
}

.footer {
  height: 100px;
  background:#F5FAFF;
}

.footer-img {
    width: 100%;
    height: 300px;
    @media only screen and (max-width: 322px){
      height: 200px;
    }
  }

   .footer-title {
    @include link-styles (white, white, 10%, 0.2s );
    position: relative;
    top: 24%;
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: $lato;
    @media only screen and (max-width: 1000px){
      font-size: 2.8em;
    }
    @media only screen and (max-width: 768px){
      top: 25%;
      font-size: 2em;
    }
    @media only screen and (max-width: 322px){
      top: 15%;
      font-size: 1.4em;
      padding:0 1em ;
    }
  }

.footer-inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.about-page {
  width: 100%;
  height: 100vh;
}

.about-text {
  @include link-styles (white, white, 10%, 0.2s );
  margin: 0 auto;
  position: relative;
  top: 10%;
  padding: 3em;
  text-align: center;
  font-size: 4em;
  font-family: $lato;
  color: white;
  max-width: 1220px;
  @media only screen and (min-width: 1200px){
    top: -5%;
      font-size: 5em;
  }

  @media only screen and (max-width: 768px){
    font-size: 2.5em;
    padding: 2em;
  }
  @media only screen and (max-width: 322px){
    font-size: 2em;
    padding: 2em;
  }
}

.about-head {
  height: 90px; 
  width: 100%;
  min-width: 100%;
  background:#F5FAFF; 
}
.site-heading-about {
   @include link-styles (#C2C2C2, #C2C2C2, 10%, 0.2s );
    position:relative;
    text-align: center;
    font-family: $lato;
    font-size: 2.5em;
    padding: .3em 0 0 0;
    @media only screen and (max-width: 322px){
      font-size: 1.8em;
    }
}












