/*
Errno::ENOENT: No such file or directory - main.scss

Backtrace:
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:405:in `read'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:405:in `update_stylesheet'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:221:in `watch'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/plugin.rb:108:in `method_missing'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/exec.rb:509:in `watch_or_update'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/exec.rb:346:in `process_result'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/exec.rb:43:in `parse'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/lib/sass/exec.rb:22:in `parse!'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.3.4/bin/sass:13:in `<top (required)>'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/bin/sass:23:in `load'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/bin/sass:23:in `<main>'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/bin/ruby_executable_hooks:15:in `eval'
/Users/matthewtaylor/.rvm/gems/ruby-2.0.0-p451/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - main.scss"; }
