{% include head.html %}
<body>
<div id="sb-site"><!-- SlideBars -->

    <div class="parallax">

      <div id="group2" class="parallax__group1">
        <div class="parallax__layer parallax__layer--back1">
           {% include header.html %}
              <div class="img" style="background: url({{ page.header-image }}) no-repeat center center; background-size: cover;">
                <h1 class="heading">{{page.title}}</h1>
              </div>
        </div>
      </div>

        <div id="group3" class="parallax__group">
          <div class="parallax__layer parallax__layer--fore">
          </div>
          <div class=" parallax__layer parallax__layer--base">
            {{content}}
           {% include footer.html %}
          </div>
        </div>




      </div>

</div><!-- SlideBars -->


   
    {% include side-nav.html %}
    {% include scripts.html %}
</body>
</html>






